/* .App {
max-width: 100%;
overflow-x: hidden;
}

.card-body{
    padding-bottom: 15px;
    margin-top: 15px;
} */

/* .container{
    margin-top: 30px;
   
}
.btn.btn-danger{
    margin-left: 15px;
} */